<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image_list</key>
		<string>http://img.spriteapp.cn/ugc/2017/06/f878487a49bc11e7b5c8842b2b4c75ab.png</string>
		<key>is_default</key>
		<integer>0</integer>
		<key>is_sub</key>
		<integer>0</integer>
		<key>sub_number</key>
		<string>212852</string>
		<key>theme_id</key>
		<string>9</string>
		<key>theme_name</key>
		<string>自拍签到</string>
	</dict>
	<dict>
		<key>image_list</key>
		<string>http://img.spriteapp.cn/ugc/2017/06/96713a6c484311e78d0f842b2b4c75ab.png</string>
		<key>is_default</key>
		<integer>0</integer>
		<key>is_sub</key>
		<integer>0</integer>
		<key>sub_number</key>
		<string>266698</string>
		<key>theme_id</key>
		<string>407</string>
		<key>theme_name</key>
		<string>小百影剧社</string>
	</dict>
	<dict>
		<key>image_list</key>
		<string>http://img.spriteapp.cn/ugc/2017/06/cce06866484311e7a550842b2b4c75ab.png</string>
		<key>is_default</key>
		<integer>0</integer>
		<key>is_sub</key>
		<integer>0</integer>
		<key>sub_number</key>
		<string>7607</string>
		<key>theme_id</key>
		<string>15341</string>
		<key>theme_name</key>
		<string>王者荣耀</string>
	</dict>
	<dict>
		<key>image_list</key>
		<string>http://img.spriteapp.cn/ugc/2017/06/588601a849bd11e78376842b2b4c75ab.png</string>
		<key>is_default</key>
		<integer>0</integer>
		<key>is_sub</key>
		<integer>0</integer>
		<key>sub_number</key>
		<string>2485</string>
		<key>theme_id</key>
		<string>55190</string>
		<key>theme_name</key>
		<string>不敢说的心里话</string>
	</dict>
</array>
</plist>
